<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  <link href='$big-path$/big.css' rel='stylesheet' type='text/css' />
  <link href='$big-path$/highlight.css' rel='stylesheet' type='text/css' />
  <style>
    .new-shiny { background: #aaaaaa; }
  </style>
  <script src='$big-path$/big.js'></script>
  <script src='$big-path$/highlight.js'></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body class='light'>
$body$
</body>
</html>
